%bg-default {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%bg-pos-absolut {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

%subtitle-style {
  font-size: $font-xxxs;
  font-weight: 500;
  color: $dark-color-tx;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

%title-style {
  font-family: $secondary-font;
  font-weight: 300;
  color: $dark-color-tx;
  line-height: 45px;
}

%description-style {
  line-height: 29px;
  letter-spacing: 0.03em;
}

%title-wrapper {
  gap: 28px;
  flex-wrap: wrap;
}

%item-dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $dots-color;
}

%item-dots-hover {
  background-color: $secondary-accent-color;
  transition: .3s;
  cursor: pointer;
  transform: scale(1.3);
}

%quotes-card-dscr {
  font-size: $font-sm;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $dark-color-ds-tx;
  background-color: $white-color;
  border: 1px $default-color-btn solid;
}