$main-font: 'Roboto', sans-serif;
$secondary-font: 'Quicksand', sans-serif;
$subsidiary-font: 'Open Sans', sans-serif;

$font-xxxs: 10px;
$font-xxs: 11px;
$font-xs: 12px;
$font-s: 13px;
$font-sm: 14px;
$font-md: 15px;
$font-m: 17px;
$font-l: 18px;
$font-xl: 24px;
$font-xxl: 36px;
$font-xxxl: 48px;

$container-lg-width: 1235px;
$container-md-width: 920px;

$breakpoint-header: 875px;
$breakpoint-header-small: 320px;

$breakpoint-xxl: 1330px;
$breakpoint-xl: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$header-height: 83px;
$banner-height: 205px;

$white-color: #fff;
$accent-color: #697CA6;
$secondary-accent-color: #5E81FE;
$default-color-btn: #D2E1FF;
$main-color-tx: #8D96BD;
$btn-color-tx: #ADB4D2;
$accent-color-tx: #3A79FF;
$dark-color-tx: #3D4F9F;
$dark-color-ds-tx: #676F95;
$section-line-color: #D8E3FE;
$hover-color-btn: #FFD7D7;
$hover-color-tx: #D43F3F;
$dots-color: #D1D6E3;
$bg-color: #F5F8FF;
$btn-color-dark-tx: #ADB3CB;
$main-color-btn-tx: #7382A3;
$main-color-btn: #E8ECF4;
$dark-color-tx-active: #495274;
$light-color-tx: #C7D3FF;
$light-color-btn-tx: #EFEFF7;
$dark-accent-color-btn: #4D6CE1;
$bg-color-light: #FCFDFF;
$cpr-color-btn-tx: #AEB8D0;

$shadow-sm: 0 10px 50px rgba(101, 103, 107, 20%);
$shadow-md: 0 10px 15px rgba(101, 103, 107, 40%);