.quotes {

  @media (max-width: #{$breakpoint-xxl}) {
    &__content {
      &-card-description-duplicate {
        display: none;
      }
    }
  }

  @media (max-width: #{$breakpoint-xl}) {
    padding: 60px 0;
  }

  @media (max-width: #{$breakpoint-md}) {
    padding: 30px 0;

    &__content {
      display: inline-block;

      &-about {
        text-align: center;

        &-description {
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (max-width: #{$breakpoint-sm}) {
    &__content {

      &-about {
        &-subtitle {
          font-size: $font-md;
        }
      }

      &-card {
        &-description {
          padding: 30px;
        }
      }
    }
  }
}


