.blog {

  @media (max-width: $breakpoint-xxl) {
    &__arrows-left,
    &__arrows-right {
      display: none;
    }
  }

  @media (max-width: #{$breakpoint-xl}) {
    padding: 60px 0;

    &__subtitle {
      margin-bottom: 0;
    }

    &__title-main {
      margin-bottom: 30px;
    }

    &__content {
      &-title {
        font-size: $font-xl;
        line-height: 24px;
        margin-bottom: 20px;
      }

      &-description {
        line-height: 22px;
      }
    }
  }

  @media (max-width: #{$breakpoint-md}) {
    &__content {
      display: inline-block;

      &-picture,
      &-about {
        width: 100%;
      }

      &-about {
        text-align: center;
      }

      &-description {
        max-width: 100%;
        padding: 0 40px;
        font-size: $font-md;
      }

      &-buttons {
        justify-content: center;
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: #{$breakpoint-sm}) {
    &__subtitle {
      font-size: $font-md;
    }

    &__content {
      &-buttons {
        flex-direction: column;

        &-btn-left {
          a {
            width: 85%;
            font-size: $font-m;
            margin-bottom: 20px;
          }
        }

        &-btn-right {
          a {
            width: 85%;
            font-size: $font-m;
            border: 1px $btn-color-tx solid;
            border-radius: 2px;
          }
        }
      }
    }

    &__controls {
      padding-top: 40px;
    }
  }
}