.customers {

  @media (max-width: #{$breakpoint-xl}) {
    & {
      nav {
        ul {
          gap: 40px;
        }
      }
    }
  }

  @media (max-width: #{$breakpoint-md}) {
    & {
      nav {
        padding: 30px 0;

        ul {
          flex-wrap: wrap;
        }
      }
    }
  }

  @media (max-width: #{$breakpoint-sm}) {
    & {
      nav {
        ul {
          gap: 30px;
          flex-direction: column;
        }
      }
    }
  }
}