.customers {
  border-bottom: 1px solid $section-line-color;
  padding: 58px 0;

  &__content {
    width: 100%;
  }

  & {
    nav {
      ul {
        gap: 75px;

        a {
          &.active,
          &:hover:not(.active) {
            fill: $secondary-accent-color;
          }

          &:hover:not(.active) {
            transition: .3s;
          }
        }
      }
    }
  }
}


