.footer {

  @media (max-width: #{$breakpoint-header}) {
    &__wrapper {
      padding: 20px 0;
    }

    &__navigation {
      display: none;
    }

    &__social {
      justify-content: center;

      &-cta {
        display: none;
      }
    }

    &__cpr {
      padding-left: 0;
      text-align: center;
      font-size: $font-md;
    }
  }
}