.stats {
  position: relative;

  &__content-wrapper {
    margin: 0 auto;
    padding: 66px 0;
    column-gap: 180px;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    &:before {
      left: 0;
      background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    }

    &:after {
      right: 0;
      background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    }
  }

  &__customers {
    width: 100%;

    &-icon {
      text-align: right;
    }

    &-title,
    &-description {
      font-family: $secondary-font;
      letter-spacing: 0.03em;
      color: $white-color;
      text-align: right;
    }

    &-title {
      font-size: $font-xxxl;
      font-weight: 400;
      line-height: 83px;
      margin: 25px 0;

      &:hover {
        color: $hover-color-tx;
        text-decoration: underline;
        transition: .3s;
      }
    }

    &-description {
      font-size: $font-l;
      font-weight: 500;
      line-height: 23px;
      max-width: 260px;
    }
  }

  &__users {
    width: 100%;

    &-title,
    &-description {
      font-family: $secondary-font;
      letter-spacing: 0.03em;
      color: $accent-color-tx;
    }

    &-title {
      font-size: $font-xxxl;
      font-weight: 400;
      line-height: 83px;
      margin: 25px 0;

      &:hover {
        color: $hover-color-tx;
        text-decoration: underline;
        transition: .3s;
      }
    }

    &-description {
      font-size: $font-l;
      font-weight: 500;
      line-height: 23px;
      max-width: 260px;
    }
  }
}